* {
  --color-dark: #282c34;
  margin: 0;
  padding: 0;
  font-weight: bold;
  box-sizing: border-box;
}

.App {
  text-align: flex-start;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: var(--color-dark);
  height: 9vh;
  line-height: 1em;
  color: white;
  padding: 2.5em 2em;
}

.App-header > * {
  display: inline;
  vertical-align: baseline;
}

.header-title {
  font-size: 2.5em;
}

.header-description {
  font-size: 1.2em;
  font-weight: lighter;
}

.main-content {
  min-height: 82vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  gap: 2em;
}
.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2em;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.search {
  height: 6vh;
  width: 80%;
  font-size: 100%;
  font-weight: lighter;
  padding: 0 1em;
  border-radius: 36px;
}

.threshold-row {
  width: 80%;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: space-between;
}

.hands-row {
  width: 80%;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: space-between;
}
.button {
  height: 6vh;
  font-size: 80%;
  background-color: var(--color-dark);
  color: white;
  width: 36%;
  cursor: pointer;
  border-radius: 36px;
  border: none;
}

.button:active {
  background-color: grey;
}

.error {
  background-color: rgb(193, 74, 74);
  border-radius: 36px;
  width: 60%;
  height: 4vh;
  font-size: 125%;
  color: white;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid grey;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result-options {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

.result-pdf {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.combine {
  width: 45%;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.recompile {
  width: 80%;
  font-size: 1em;
  color: black;
  border: 2px solid #ff2626;
  border-radius: 36px;
  padding: 0.5em 1em;
  cursor: pointer;
}
.res-link {
  width: 80%;
  font-size: 1em;
  text-decoration: None;
  color: white;
  background-color: #ff2626;
  border-radius: 36px;
  padding: 0.5em 1em;
  border: none;
}

.App-footer {
  text-align: center;
  background-color: var(--color-dark);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: white;
  gap: 1em;
  padding: 0 2em;
  justify-self: flex-end;
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2em;
  justify-content: center;
  align-items: center;
  max-height: 18vw;
  width: 80%;
  overflow-y: auto;
}

.image-screenshot {
  max-width: 100%;
}

.image-container {
  width: 20%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .image-container {
    width: 40%;
  }

  .App-header {
    line-height: 2em;
    padding: 1em 2em;
  }
  .App-header > * {
    display: block;
  }
}

.selected-image {
  border: 4px solid #ff2626;
}
